@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.gog, body {
    font-family: 'Google Sans Text', sans-serif;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@media only screen and (max-width: 600px) {
    .hel {
        font-size: 33px;
    }
}

.letcon {
    font-size: 70px; /* Default for PC */
  }
  
  @media (max-width: 768px) {
    .letcon {
      font-size: 41px !important; /* Mobile */
    }
  }

  
  .intro {
    font-size: 25px;
  }
   

@media only screen and (max-width: 600px) {
    .pas {
        margin-top: -60px;
        margin-bottom: 20px;
    }

    .pro {
        margin-top: -20px;
    }


    .prj {
       margin-top: -50px;
    }

    .wor {
        margin-top: -60px;
    }

    .arsg {
        display: none !important;
    }

    .intro {
        font-size: 18px;
        margin-top: -40px;
      }

      .testi {
        font-size: 35px !important;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1.1;
      }
    
}



.ld {
    font-weight: bold;
}


.hideli {
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.pop {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media only screen and (min-width: 1024px) {
    .em {
        font-size: 15px !important;
    }
}


.btn-text-inner {
    font-size: 15px;
}