@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.gog {
    font-family: 'Google Sans Text', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.pop {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
